/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171322;
    --dkblue: #0d314b;
    --plum: #4b0d50;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --testbackground: #171322;
    --Deep-Teal-Sea-1-hex: #012e40;
    --Deep-Teal-Sea-2-hex: #024959;
    --Deep-Teal-Sea-3-hex: #026773;
    --Deep-Teal-Sea-4-hex: #3ca6a6;
    --Deep-Teal-Sea-5-hex: #f2e3d5;

    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Color Theme Swatches in Hex */
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: #f2e3d5;
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--Deep-Teal-Sea-5-hex);

}

a:hover {
    color: var(--Deep-Teal-Sea-4-hex);
    text-decoration: none;

}

#intro {
    padding-bottom: 10rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name-span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--Deep-Teal-Sea-4-hex);
    display: block;

}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;

}

#contact-me {
    background-color: var(--Deep-Teal-Sea-2-hex);
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;


}

#contact-me h2 {
    font-weight: normal;


}

#contact-me p {
    font-size: 1rem;
    line-height: 1.5;
}

.email {
    margin-top: 2rem;


}

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;

}

nav [class*="fa-"] {
    font-size: 150%;
}

nav a {
    color: var(--Deep-Teal-Sea-5-hex);
    text-decoration: none;
    display: block;
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    padding: 0.5rem;
}

.button {
    background-color: var(--Deep-Teal-Sea-2-hex);
    padding: 0.5rem;
    border-radius: 5px;
}

.button:hover {
    color: var(--white);
    background-color: var(--Deep-Teal-Sea-4-hex);
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;

    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }

}

footer {
    text-align: center;
}

footer ul {

    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}
